<div class="toolbar">

  <div class="asdfag">
    <div>
        <div class="fasfas">
            Dashboard
        </div>
    </div>


    <div class="rigth-section">

        <button class="button" (click)="toggleTheme()" matRipple>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode"></mat-icon>

        </button>
        <button class="button" matRipple>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>

        </button>
        <!-- <div class="buton">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon>

        </div> -->

        <div>
            <mat-icon *ngIf="false" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>

        </div>

        <div class="profile-section">
    
            <div class="profile-info">
                <div class="profile-name">Juan Poueriet</div>
                <div class="sf">Admin</div>
            </div>
            <div class="profile-picture-container">
                <mat-icon *ngIf="true" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
        
                <!-- <img class="profile-picture-picture" src="../../../../assets/images/profile-1.jpg" alt=""> -->
            </div>
        </div>
    </div>
  </div>


</div>
