<aside>
    <div class="logo-container">
        <img class="logo-image" src="../../../../assets/images/logo-parcelas-st2.png" alt="">
        <div class="app-name">Excel v2</div>
    </div>
    

    <div class="nav-links-container">

        <a routerLink="/dashboard" class="nav-link" routerLinkActive="nav-actived-link">
            <div class="nav-link-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-dashboard"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f1f1f1" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <!-- <path stroke="none" d="M0 0h24v24H0z" fill="none" /> -->
                    <path d="M4 4h6v8h-6z" />
                    <path d="M4 16h6v4h-6z" />
                    <path d="M14 12h6v8h-6z" />
                    <path d="M14 4h6v4h-6z" />
                </svg>
            </div>



            <div class="nav-link-text">
                Dashboard
            </div>
        </a>
        <a routerLink="/register" class="nav-link" routerLinkActive="nav-actived-link">
            <div class="nav-link-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#f1f1f1" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <!-- <path stroke="none" d="M0 0h24v24H0z" fill="none" /> -->
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                    <path d="M16 5l3 3" />
                </svg>
            </div>

            <div class="nav-link-text">
                Resgister
            </div>
        </a>
        <a  routerLink="/plots" class="nav-link" routerLinkActive="nav-actived-link">
            <div class="nav-link-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f1f1f1" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7" />
                    <path d="M9 4v13" />
                    <path d="M15 7v5" />
                    <path
                        d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
                    <path d="M19 18v.01" />
                </svg>
            </div>

            <div class="nav-link-text">
                Plots
            </div>
        </a>
        <!-- <a href="" class="nav-link" routerLinkActive="nav-actived-link">
            <div class="nav-link-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-search" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f1f1f1" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M11 18l-2 -1l-6 3v-13l6 -3l6 3l6 -3v7.5" />
                    <path d="M9 4v13" />
                    <path d="M15 7v5" />
                    <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M20.2 20.2l1.8 1.8" />
                </svg>
            </div>

            <div class="nav-link-text">
                Locate Plots
            </div>
        </a> -->


    </div>

    <a href="" class="nav-link logout">
        <div class="nav-link-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="#f1f1f1" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <!-- <path stroke="none" d="M0 0h24v24H0z" fill="none" /> -->
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
            </svg>
        </div>

        <div class="nav-link-text">
            Logout
        </div>
    </a>



</aside>